*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar{
    
    text-align: left;
    width: 100%;
    height:30%;
    display: inline-flex;
}
.titulo{
    text-align: center;
    
}
.menu{
    background-color: grey;
}
#pixeles{
    width:45px;
    height: 85px;
    margin: 0 auto;



}
.imagen{
    width: 25rem;
    
}
.opciones{
    justify-content: flex-end;
}